*.log
*.root
*.png
*.json
*.pb
*.csv
*.pth
*.pkl
*.txt
*.onnx
*.swp
CMSSW_12_6_0/biglib
CMSSW_12_6_0/cfipython
CMSSW_12_6_0/doc
CMSSW_12_6_0/include
CMSSW_12_6_0/logs
CMSSW_12_6_0/python
CMSSW_12_6_0/.SCRAM
CMSSW_12_6_0/static
CMSSW_12_6_0/tmp
CMSSW_12_6_0/bin
CMSSW_12_6_0/config
CMSSW_12_6_0/external
CMSSW_12_6_0/lib
CMSSW_12_6_0/objs
CMSSW_12_6_0/test
CMSSW_12_6_0/src/analysis/oldfiles
CMSSW_12_6_0/src/dispV/dispVAnalyzer/__pycache__
CMSSW_12_6_0/src/dispV/dispVAnalyzer/crab_projects
CMSSW_12_6_0/src/dispV/dispVAnalyzer/data/
CMSSW_14_1_0/biglib
CMSSW_14_1_0/cfipython
CMSSW_14_1_0/doc
CMSSW_14_1_0/include
CMSSW_14_1_0/logs
CMSSW_14_1_0/python
CMSSW_14_1_0/.SCRAM
CMSSW_14_1_0/static
CMSSW_14_1_0/tmp
CMSSW_14_1_0/bin
CMSSW_14_1_0/config
CMSSW_14_1_0/external
CMSSW_14_1_0/lib
CMSSW_14_1_0/objs
CMSSW_14_1_0/test
CMSSW_14_1_0/src/analysis/oldfiles
CMSSW_14_1_0/src/dispV/dispVAnalyzer/__pycache__
CMSSW_14_1_0/src/dispV/dispVAnalyzer/crab_projects
CMSSW_14_1_0/src/dispV/dispVAnalyzer/data/
ML_scripts/pics
IVF/files
IVF/model_files
IVF/__pycache__
RandlaMod/files
RandlaMod/files_models
CMSSW_12_6_0/src/analysis/.trkinfo.py.swp
IVF/files/
IVF/files/*.pkl
IVF/model_files
IVF/__pycache__
IVF/stats
IVF/scaler
IVF/mods_onnx
