*.log
*.root
*.png
*.json
*.pb
*.csv
*.pth
*.pkl
*.txt
CMSSW_13_3_3/biglib
CMSSW_13_3_3/cfipython
CMSSW_13_3_3/doc
CMSSW_13_3_3/include
CMSSW_13_3_3/logs
CMSSW_13_3_3/python
CMSSW_13_3_3/.SCRAM
CMSSW_13_3_3/static
CMSSW_13_3_3/tmp
CMSSW_13_3_3/bin
CMSSW_13_3_3/config
CMSSW_13_3_3/external
CMSSW_13_3_3/lib
CMSSW_13_3_3/objs
CMSSW_13_3_3/test
CMSSW_13_3_3/src/analysis/oldfiles
CMSSW_13_3_3/src/dispV/dispVAnalyzer/__pycache__
CMSSW_13_3_3/src/dispV/dispVAnalyzer/crab_projects
ML_scripts/pics
IVF/files
IVF/model_files
IVF/__pycache__
RandlaMod/files
RandlaMod/files_models
CMSSW_13_3_3/src/analysis/.trkinfo.py.swp
IVF/files/
IVF/files/*.pkl
IVF/model_files
IVF/__pycache__
IVF/stats
IVF/scaler
